body {
    font-family: Avenir, sans-serif;
    background-color: blanchedalmond;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center:
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    margin: 15px;
}
.app {
    max-width: 800px;
    margin: auto;
}

.good-thing-label  {
    font-size: 30px;    
}

button {
    border: none;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 5px;
}

.toggleCheckbox {
    display: none;    
}

.toggleBtn {
    display: inline-block;
    padding: 0px 5px;
    border: none;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 5px;
    user-select: none;
    transition: background-color 0.2s, color 0.2s
}

.toggleCheckbox:checked + .toggleBtn {
    background-color: #ab00ff;
    color: white;
}

textarea {
    border-radius: 10px;
    width: 80%;
    height: 75px;
    display: block;
    margin: 10px;
    text-indent: 10px;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

canvas {
    border: 2px solid black;
    border-radius: 10px;
    touch-action: none;
}

.good-things {
    width:80%;
    border-radius: 10px;
}

