body {
    font-family: Avenir, sans-serif;
    background-color: blanchedalmond;
    text-align: left;
    align-items: center;
}
.app {
    max-width: 800px;
    margin: auto;
}

button {
    border: none;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
}

textarea {
    border-radius: 10px;
    width: 80%;
    height: 75px;
    font-size: 20px;
    display: inline-block;
}

canvas {
    border: 2px solid black;
    border-radius: 10px;
    touch-action: none;
}

.good-things {
    width:75%;
    border-radius: 50px;
}
