body {
    font-family: Avenir, sans-serif;
    background-color: blanchedalmond;
    text-align: center;
    align-items: center;
    margin: 15px;
}
.app {
    max-width: 800px;
    margin: auto;
}

.good-thing-label  {
    font-size: 100px;    
}

button {
    border: none;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 5px;
}

textarea {
    border-radius: 10px;
    width: 80%;
    height: 75px;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
    align-items: center;
}

input {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}

canvas {
    border: 2px solid black;
    border-radius: 10px;
    touch-action: none;
    display: inline-block;
}

.good-things {
    width:80%;
    border-radius: 10px;
}
